/* GLOBAL STYLES */

body {
  background-color: #0d1117;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #7ca5ce;
}

*:focus {
  outline: none;
}

/* div for rendering all App components */
#main {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

/* HEADER */

/* Title */
h1 {
  font-size: 75px;
  margin-bottom: 0px;
}

#air {
  color: #7ca5ce;
  font-weight: 750;
}

.title {
  margin: 75px auto auto auto;
  width: 500px;
  font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 650;
  color: #446b92;
  border-bottom: 1px solid #446b92;
};

/* Tagline */
#description {
  margin-top: 3%;
}

/* Navigation Bar */
#nav-table {
  margin: 30px auto auto auto;
  width: 300px;
}

/* FORMS */

/* div for Input & Submit */
.input-submit {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 900;
}

/* Input Fields & Buttons */
input, button {
  width: 150px;
  padding: 10px;
  background-color: #24374b;
  text-align: center;
  font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  font-size: 25px;
  border: 1px solid #446b92;
  color: #7ca5ce;
}

/* Input Placeholders */
input::placeholder {
  color: #7ca5ce;
}

input:focus::placeholder {
  color: transparent;
}

/* Buttons */
button {
  margin-left: 10px;
  width: 50px;
  height: 51px;
  font-size: 25px;
}

/* Hover Style for Buttons */
button:hover {
  cursor: pointer;
  background-color: #36506d;
}

/* Focus Style for Buttons */
button:focus {
  background-color: #36506d;
}

/* AQI VIEW */
.air-quality-view {
  display: flex;
  flex-direction: column;
}

/* div for all AQI cards */
.aqi-cards {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* single AQI card */
.aqi-card {
  height: 300px;
}

/* AQI Location */
.location {
  font-weight: 900;
}

.delete:hover {
  cursor: pointer;
}

/* div for index cards within AQI card */
.index-cards {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Index Cards */
.index-card {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #11181f;
  margin: 0px 10px 10px 0px;
  border-radius: 15px;
}

/* Dynamically Render COLOR of Index Cards based on AQI */
.good {
  border: 1px solid #1c611c;
}

.moderate {
  border: 1px solid #6d6d00;
}

.unhealthyforsensitivegroups {
  border: 1px solid #854301;
}

.unhealthy {
  border: 1px solid #830101;
}

.veryunhealthy {
  border: 1px solid #7d2685;
}

.hazardous {
  border: 1px solid #750021;
}

/* Remove Locations Button */
#clear-storage {
  font-weight: 100;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #446b92;
  border-radius: 10px;
}

#clear-storage:hover {
  background-color: #24374b;
  cursor: pointer;
}

#clear-storage:focus {
  background-color: #24374b;
}
