body {
  background-color: #0d1117;
}

#content {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#air {
  color: #7ca5ce;
  font-weight: 750;
}

.title {
  margin-top: 10%;
  font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 650;
  color: #446b92;
};
