body {
  background-color: #0d1117;
  font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #7ca5ce;
}

*:focus {
  outline: none;
}

#air-quality-view {
  margin-top: 10%;
  height: 200px;
  border: 1px solid #24374b;
}

.submit-zip {
  margin-top: 10%;
  font-size: 15px;
  font-weight: 900;
}

#description {
  margin-top: 3%;
}

#main {
  display: block;
  width: 500px;
  margin: auto;
  text-align: center;
}

#air {
  color: #7ca5ce;
  font-weight: 750;
}

.title {
  margin-top: 10%;
  font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 650;
  color: #446b92;
  border-bottom: 1px solid #446b92;
};
